.box {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position: relative;
  &#red {
    background-color: #f00;
  }
  &#green {
    background-color: #0f0;
  }
  &#blue {
    background-color: #00f;
  }
}
