#banner {
  width: 1200px;
  .list {
    display: table;
    width: 100%;
    > li {
      display: table-cell;
      height: 300px;
      background-color: rgb(227, 152, 1);
      box-sizing: border-box;
      padding: 30px;
      color: #fff;
      border-left: 1px solid darken(rgb(227, 152, 1), 10);
      width: 33.33%;,,"
      position: relative;
      .title {
        h2 {
          font-size: 32px;
          margin-bottom: 10px;
        }
        p {
          line-height: 1.5;
        }
      }
    }
  }
}
