#mainVisual {
    overflow: hidden;
    position: relative;
    background-color: #999;
}
#mainVisual .list li {
    height: 100vh;
    text-indent:-9999px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
#mainVisual .list #visual01 {
    background-image: url("../images/main/mainVisual01.jpg");
}
#mainVisual .list #visual02 {
    background-image: url("../images/main/mainVisual02.jpg");
}
#mainVisual .list #visual03 {
    background-image: url("../images/main/mainVisual03.jpg");
}
#mainVisual .btnPrev {
    position:absolute;
    top:50%;
    left:0;
    z-index: 2;
    /* transform:translateY(-50%); */
}
#mainVisual .btnNext {
    position: absolute;
    top:50%;
    right:0;
    z-index: 2;
    /* transform:translateY(-50%); */
}

#mainVisual .slogan {
    width:100%;
    position: absolute;
    top:45%;
    /* left:50%; */
    z-index: 1;
    color:#fff;
    text-align:center;
    /* transform:translateX(-50%) translateY(-50%); */
}
#mainVisual .slogan .main {
    margin-bottom: 40px;
    font-size:64px;
    text-shadow:5px 5px 5px rgba(0,0,0,0.1);
    font-weight: 600;
}
#mainVisual .slogan .sub {
    font-size: 20px;
    line-height: 1.5;
}
#mainVisual .pagination {
    width:100%;
    position: absolute;
    bottom:150px;
    z-index: 4;
    text-align: center;
}

#mainVisual .swiper-pagination-bullet {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: none;
    border:3px solid #fff;
    opacity: 1;
    transition: all 0.25s ease;
    border-radius: 100px;
}
#mainVisual .swiper-pagination-bullet-active {
    width:80px;
    background: #fff;
    opacity: 1;
}

#mainVisual .iconScroll {
    position: absolute;
    bottom:30px;
    left:50%;
    z-index: 5;
    font-size: 16px;
    color:#fff;
    letter-spacing: 0.2em;  /* 알파벳 글자하나의 크기를 1em(M)으로 보는 단위 */
    transform:translateX(-50%);
}
#mainVisual .iconScroll:before {
    content: "";
    display: block;
    width:16px;
    height: 30px;
    margin: 0 auto 10px;
    border:2px solid #fff;
    border-radius:100px;
}
#mainVisual .iconScroll:after {
    content: '';
    display: block;
    width:3px;
    height: 5px;
    position: absolute;
    top:12px;
    left:50%;
    transform: translateX(-50%);
    animation: scrollAni 0.3s ease infinite alternate;
    background-color: #fff;
    border-radius: 10px;
}
#mainLink {
    /* font-size:0;
    text-align: center; */
    
}
#mainLink .list li {
    overflow: hidden;
    /* display: inline-block; */
    float:left;
    position: relative;
}
#mainLink .list li .txt {
    position: absolute;
    bottom:40px;
    left:40px;
    font-size: 18px;
    color:#fff;
    text-align: left;
}
#mainLink .list li .txt .main {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
}
#mainLink .list li img {
    transition: all 0.25s ease;
}
#mainLink .list li a:hover img {
    transform:scale(1.2);
}
#mainLink .list li a:hover:after {
    opacity: 1;
}
#mainLink .list li a:after {
    content:"";
    display:block;
    position: absolute;
    top:20px;
    right:20px;
    bottom:20px;
    left:20px;
    border:1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 0.25s ease;
}

#business {
    

    margin-top:100px;
    /* background-color: #ccc;
    background-image: url("../images/main/bgBusiness.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%; */
    background: url("../images/main/bgBusiness.jpg") #ccc no-repeat 50% 50%;
    background-size: cover;
    /* padding-top:100px;
    padding-bottom: 100px; */
}


#business .list li {
    overflow: hidden;
    float:left;
    position: relative;
}
#business .list li:nth-child(2n+1) {
    margin-right: 20px;
}
#business .list li:nth-child(1),#business .list li:nth-child(2) {
    margin-bottom: 20px;
}
#business .list li a img {
    transition: all 0.25s ease;
}
#business .list li a:hover img {
    transform: scale(1.2);
}
#business .list li a:after {
    content:"";
    display:block;
    position: absolute;
    top:20px;
    right:20px;
    bottom:20px;
    left:20px;
    border:1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 0.25s ease;
}
#business .list li a:hover:after {
    opacity: 1;
}
#business .list li .txt {
    position: absolute;
    bottom:40px;
    left:40px;
    color:#fff;
}
#business .list li .txt .main{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}


#news .list li {
    width:380px;
    float:left;
    margin-left: 30px;
    border:1px solid #999;
    transition: all 0.25s ease;
    box-sizing: border-box;
}

#news .list li:nth-child(1) {
    margin-left: 0;
}

#news .list li:hover {
    box-shadow:0 10px 10px rgba(0,0,0,0.1);
    transform: translateY(-15px);
    border-color:#bf0c14;
    /* box-shadow: x  y  blur  color; */
}

#news .list li .img {
    height: 300px;
}
#news .list li img {
    width:100%;
    height: 300px;
}

#news .list li .txt {
    padding:30px;
}
#news .list li .txt .title {
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#news .list li .txt .desc {
    display: -webkit-box;
    height: 4.5em;
    overflow: hidden;
    color:#999;
    line-height: 1.5;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 3;
    /* vendor prefix */
}


#news .list li .txt .date {
    margin-top: 20px;
    color:#999;
}

#customer {
    color:#fff;
    text-align: center;
    background-image: url("../images/main/bgCustomer.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#customer h2:after {
    content: '';
    display:block;
    width:30px;
    height: 2px;
    margin: 20px auto;
    background-color: #fff;
}

#customer .btnEstimate {
    display: inline-block;
    padding:20px 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: #bf0c14;
    border-radius: 100px;
}

/* common css */
.section {
    padding: 100px 0;
}
.section .titleBox {
    margin-bottom: 60px;
    text-align: center;
}
.section .titleBox h2 {
    margin-bottom: 10px;
    font-size:40px;
    font-weight:600;
}
.section .titleBox p {
    line-height: 1.4;
}





