#banner { width: 1200px; }

#banner .list { display: table; width: 100%; }

#banner .list > li { display: table-cell; height: 300px; background-color: #e39801; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px; color: #fff; border-left: 1px solid #b07601; width: 33.33%; position: relative; }

#banner .list > li .title h2 { font-size: 32px; margin-bottom: 10px; }

#banner .list > li .title p { line-height: 1.5; }

#banner .list > li .more { position: absolute; right: 30px; bottom: 30px; font-size: 48px; }
