@import "vars";

body {
    font-family:'Titillium Web', 'Noto Sans KR',  sans-serif;
}
#header {
    width:100%;
    height: 90px;
    position: fixed;
    z-index: 99;
    color:#fff;
    border-bottom:1px solid rgba(255,255,255,0.5);
    transition: all 0.5s ease;
    &.on {
        border-bottom: none;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.5);
    }
    // &.over {
    //     height: 380px;
    //     background-color: #fff;
    //     color:#111;
    //     &:before {
    //         content: '';
    //         display: block;
    //         width:100%;
    //         height: 1px;
    //         background-color: #d9d9d9;
    //         position: absolute;
    //         top:90px;
    //     }
    //     .utilMenu {
    //         color:#111;
    //         .btnOnline {
    //             border-color: #111;
    //         }
    //         .btnSitemap {
    //             span {
    //                 background-color: #111;
    //             }
    //         }
    //     }
    // }
    #logo {
        position: absolute;
        left:30px;
        a {
            display: block;
            padding: 15px 0;
        }
    }
    #gnb {
        text-align: center;
        font-size: 0;
        .list > li {
            display: inline-block;
            vertical-align: top;
            .depth01 {
                display: block;
                height: 90px;
                position: relative;
                padding:0 50px;
                font-size: 20px;
                font-weight: 600;
                line-height: 92px;
                transition: all 0.25s ease;
                &:after {
                    content: '';
                    display:block;
                    height: 2px;
                    position: absolute;
                    right:10px;
                    left:10px;
                    transform: scaleX(0);
                    transition: transform 0.25s;
                    background-color: #fff;
                }
            }
            &:hover .depth01 {
                background-color: #bf0c14;
                &:after {
                    transform: scaleX(1);
                }
            }
            &:hover .depth02 {
                
            }
            .depth02 {
                padding:15px 10px 25px;
                font-size: 16px;
                border-radius: 0 0 10px 10px;
                background-color: #bf0c14;
                display: none;
                a {
                    display: block;
                    padding:10px 0;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
                        background-color: #960a11;
                    }
                }
            }
            /*
            .depth02 {
                padding:15px 10px 25px;
                font-size: 16px;
                background-color: #bf0c14;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                a {
                    display: block;
                    padding:10px 0;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
                        background-color: #960a11;
                    }
                }
            }
            */
            
        }
        &.fullDown {
            .list > li {
                .depth02 {
                    display: block;
                    border-radius: 0;
                }
            }
        }
    }

    .utilMenu {
        color:#fff;
        
        position: absolute;
        top:20px;
        right:50px;

        .btnOnline {
            display:inline-block;
            height:45px;
            padding:0 30px;
            line-height: 45px;
            border:2px solid #fff;
            transition: all 0.25s ease; 
            border-radius: 100px;
            &:hover {
                background-color: #bf0c14;
                border-color:#bf0c14;
            }
        }
        .btnSitemap {
            width:30px;
            height: 30px;
            margin-left: 10px;
            vertical-align: middle;
            position: relative;
            cursor: pointer;
            &.on {
                span {
                    &:nth-child(1) {top:12px;transform:rotate(-45deg);}
                    &:nth-child(2) {left:-50px;opacity: 0;}
                    &:nth-child(3) {top:12px;transform:rotate(45deg);}
                }
            }
            span {
                display: block;
                width:30px;
                height: 2px;
                background-color:#fff;
                position: absolute;
                left:0;
                transition: all 0.25s ease;
                &:nth-child(1) {top:0}
                &:nth-child(2) {top:12px}
                &:nth-child(3) {top:24px}
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


#footer {
    color:rgba(255,255,255,0.8);
    background-color: #444;
    .utilMenu {
        text-align: center;
        font-size: 0;
        border-bottom:1px solid rgba(255,255,255,0.2);
        li {
            display:inline-block;
            position: relative;
            font-size: 16px;
            &:after {
                content: '';
                display: block;
                width:1px;
                height: 10px;
                position: absolute;
                top:50%;
                right:0;
                transform: translateY(-50%);
                background-color: rgba(255,255,255,0.2);
            }
            &:last-child:after {
                display: none;
            }
            a {
                display: inline-block;
                height: 60px;
                padding:0 20px;
                line-height: 60px;
            }
            &.privacy a {
                color:#fff;
                font-weight: 500;
            }
        }
    }
    .addrWrap  {
        padding:30px 0;
        .fLogo {
            float: left;
        }
        .address {
            margin-left: 50px;
            float: left;
            line-height: 1.5;
            .copyright {
                margin-top: 20px;
                opacity: 0.5;
            }
        }
        .tel {
            float: right;
            dd {
                margin-top: 10px;
                font-size: 38px;
                font-weight: 700;
            }
        }
    }
}

.btnTop {
    color:#fff;
    display: block;
    width:80px;
    height: 80px;
    position: fixed;
    right:50px;
    bottom:-200px;
    z-index: 99;
    opacity: 0;
    transition: all 0.25s ease;
    background-color: $main-color;
    cursor: pointer;
    pointer-events: none;
    &.on {
        opacity: 1;
        bottom:50px;
        pointer-events: auto;
    }
}