@import "vars";
.container {
  margin: 0 auto;
  width: 1200px;
}
/* common css */
.section {
  padding: 100px 0;
  .titleBox {
    margin-bottom: 60px;
    text-align: center;
    h2 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.4;
    }
  }
}
#mainVisual {
  overflow: hidden;
  .list {
    li {
      .img {
        height: 100vh;
        text-indent: -9999px;
        background: {
          position: 50%;
          repeat: none;
          size: cover;
        }
      }
      &#visual01 .img {
        background-image: url("../images/main/mainVisual01.jpg");
      }
      &#visual02 .img {
        background-image: url("../images/main/mainVisual02.jpg");
      }
      &#visual03 .img {
        background-image: url("../images/main/mainVisual03.jpg");
      }
    }
  }
  .slogan {
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 2;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
    .main {
      font-size: 52px;
      margin-bottom: 50px;
      //color: $main-color;
      //@include longShadow(darken($main-color, 10), right, 100);
    }
    .sub {
      font-size: 24px;
      line-height: 1.25;
    }
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &.btnPrev {
      left: 50px;
    }
    &.btnNext {
      right: 50px;
    }
  }
  .pagination {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 150px;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      opacity: 1;
      background-color: transparent;
      border: 2px solid #fff;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      transition: all 0.25s ease-in-out;
      &-active {
        background-color: #fff;
        width: 120px;
      }
    }
  }
  /*
  .list li .img {
    height: 100vh;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  .list li {
  }
  #visual01 .img {
    background-image: url("../images/main/mainVisual01.jpg");
  }
  #visual02 .img {
    background-image: url("../images/main/mainVisual02.jpg");
  }
  #visual03 .img {
    background-image: url("../images/main/mainVisual03.jpg");
  }
  .btnPrev {
    left: 0;
    z-index: 2;
    @include absCenter(v);
  }
  .btnNext {
    right: 0;
    z-index: 2;
    @include absCenter(v);
  }
  .slogan {
    width: 100%;
    z-index: 1;
    color: #fff;
    text-align: center;
    @include absCenter(v);
    .main {
      margin-bottom: 40px;
      font-size: 64px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      font-weight: 600;
    }
    .sub {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  */
  .iconScroll {
    bottom: 30px;
    color: #fff;
    font-size: 16px;
    left: 50%;
    letter-spacing: 0.2em; /* 알파벳 글자하나의 크기를 1em(M)으로 보는 단위 */
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.25s ease;
    z-index: 5;
    &:before {
      border: 2px solid #fff;
      border-radius: 100px;
      content: "";
      display: block;
      height: 30px;
      margin: 0 auto 10px;
      width: 16px;
    }
    &:after {
      animation: scrollAni 0.3s ease infinite alternate;
      background-color: #fff;
      border-radius: 10px;
      content: "";
      display: block;
      height: 5px;
      left: 50%;
      position: absolute;
      top: 12px;
      transform: translateX(-50%);
      width: 3px;
    }
  }
}

#mainLink {
  position: relative;
  transition: all 0.5s ease;
  z-index: 3;
  .list li {
    float: left;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    a {
      &:hover img {
        transform: scale(1.2);
      }
      &:hover:after {
        opacity: 1;
      }
      &:after {
        border: 1px solid rgba(255, 255, 255, 0.5);
        bottom: 20px;
        content: "";
        display: block;
        left: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all 0.25s ease;
      }
    }
    .txt {
      bottom: 40px;
      color: #fff;
      font-size: 18px;
      left: 40px;
      position: absolute;
      text-align: left;
      .main {
        font-size: 40px;
        font-weight: 600;
        margin-top: 20px;
      }
    }
    img {
      transition: all 0.25s ease;
    }
  }
  &.on {
    transform: translateY(-100px);
    .list li {
      &:nth-child(2) {
        transform: translateY(-100px);
      }
    }
  }
}

#mainBusiness {
  background: url("../images/main/bgBusiness.jpg") #ccc no-repeat 50% 50%;
  background-size: cover;
  .list li {
    float: left;
    overflow: hidden;
    position: relative;
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }
    a {
      img {
        transition: all 0.25s ease;
      }
      &:hover img {
        transform: scale(1.2);
      }
      &:after {
        border: 1px solid rgba(255, 255, 255, 0.5);
        bottom: 20px;
        content: "";
        display: block;
        left: 20px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all 0.25s ease;
      }
      &:hover:after {
        opacity: 1;
      }
      .txt {
        bottom: 40px;
        color: #fff;
        left: 40px;
        position: absolute;
        .main {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }
    }
  }
}

#news .list li {
  border: 1px solid #999;
  box-sizing: border-box;
  float: left;
  margin-left: 30px;
  transition: all 0.25s ease;
  width: 380px;
  &:nth-child(1) {
    margin-left: 0;
  }
  &:hover {
    border-color: #bf0c14;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-15px);
  }
  .img {
    height: 300px;
    img {
      height: 300px;
      width: 100%;
    }
  }
  .txt {
    padding: 30px;
    .title {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .desc {
      color: #999;
      @include multiEllipsis(1.5, 3);
    }
    .date {
      color: #999;
      margin-top: 20px;
    }
  }
}
#customer {
  background-image: url("../images/main/bgCustomer.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  h2:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    margin: 20px auto;
    width: 30px;
  }
  .btnEstimate {
    background-color: $main-color;
    border-radius: 100px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    padding: 20px 50px;
    @include longShadow(darken($main-color, 10), right, 40);
  }
}

#dots {
  position: fixed;
  right: 120px;
  z-index: 999;
  @include absCenter(v);
  li {
    background-color: #d9d9d9;
    border-radius: 100px;
    height: 10px;
    margin: 15px 0;
    transition: all 0.25s ease;
    width: 10px;
    &.on {
      background-color: $main-color;
    }
  }
}

@keyframes scrollAni {
  0% {
    top: 12px;
  }
  100% {
    top: 6px;
  }
}
