@import "vars";
.container {
  width: 1200px;
  margin: 0 auto;
}
/* common css */
.section {
  padding: 100px 0;
  .titleBox {
    margin-bottom: 60px;
    text-align: center;
    h2 {
      margin-bottom: 10px;
      font-size: 40px;
      font-weight: 600;
    }
    p {
      line-height: 1.4;
    }
  }
}
#mainVisual {
  overflow: hidden;

  .list li .img {
    height: 100vh;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  .list li {
  }
  #visual01 .img {
    background-image: url("../images/main/mainVisual01.jpg");
  }
  #visual02 .img {
    background-image: url("../images/main/mainVisual02.jpg");
  }
  #visual03 .img {
    background-image: url("../images/main/mainVisual03.jpg");
  }
  .btnPrev {
    left: 0;
    z-index: 2;
    @include absCenter(v);
  }
  .btnNext {
    right: 0;
    z-index: 2;
    @include absCenter(v);
  }
  .slogan {
    width: 100%;
    z-index: 1;
    color: #fff;
    text-align: center;
    @include absCenter(v);
    .main {
      margin-bottom: 40px;
      font-size: 64px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      font-weight: 600;
    }
    .sub {
      font-size: 20px;
      line-height: 1.5;
    }
  }
  .iconScroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 5;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.2em; /* 알파벳 글자하나의 크기를 1em(M)으로 보는 단위 */
    transform: translateX(-50%);
    transition: all 0.25s ease;
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 30px;
      margin: 0 auto 10px;
      border: 2px solid #fff;
      border-radius: 100px;
    }
    &:after {
      content: "";
      display: block;
      width: 3px;
      height: 5px;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      animation: scrollAni 0.3s ease infinite alternate;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}
#mainLink {
  transition: all 0.5s ease;
  position: relative;
  z-index: 3;
  .list li {
    overflow: hidden;
    float: left;
    position: relative;
    transition: all 0.5s ease;
    a {
      &:hover img {
        transform: scale(1.2);
      }
      &:hover:after {
        opacity: 1;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;
        bottom: 20px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: all 0.25s ease;
      }
    }
    .txt {
      position: absolute;
      bottom: 40px;
      left: 40px;
      font-size: 18px;
      color: #fff;
      text-align: left;
      .main {
        margin-top: 20px;
        font-size: 40px;
        font-weight: 600;
      }
    }
    img {
      transition: all 0.25s ease;
    }
  }
  &.on {
    transform: translateY(-100px);
    .list li {
      &:nth-child(2) {
        transform: translateY(-100px);
      }
    }
  }
}

#mainBusiness {
  background: url("../images/main/bgBusiness.jpg") #ccc no-repeat 50% 50%;
  background-size: cover;
  .list li {
    overflow: hidden;
    float: left;
    position: relative;
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }
    a {
      img {
        transition: all 0.25s ease;
      }
      &:hover img {
        transform: scale(1.2);
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: all 0.25s ease;
      }
      &:hover:after {
        opacity: 1;
      }
      .txt {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: #fff;
        .main {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}

#news .list li {
  width: 380px;
  float: left;
  margin-left: 30px;
  border: 1px solid #999;
  transition: all 0.25s ease;
  box-sizing: border-box;
  &:nth-child(1) {
    margin-left: 0;
  }
  &:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-15px);
    border-color: #bf0c14;
  }
  .img {
    height: 300px;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .txt {
    padding: 30px;
    .title {
      overflow: hidden;
      margin-bottom: 15px;
      font-size: 22px;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .desc {
      @include multiEllipsis(1.5, 3);
      color: #999;
    }
    .date {
      margin-top: 20px;
      color: #999;
    }
  }
}
#customer {
  color: #fff;
  text-align: center;
  background-image: url("../images/main/bgCustomer.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  h2:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 20px auto;
    background-color: #fff;
  }
  .btnEstimate {
    display: inline-block;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: #bf0c14;
    border-radius: 100px;
    overflow: hidden;
    @include longShadow(darken(#bf0c14, 10), right, 50);
  }
}

#dots {
  @include absCenter(v);
  right: 120px;
  position: fixed;
  z-index: 999;
  li {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    transition: all 0.25s ease;
    border-radius: 100px;
    margin: 15px 0;
    &.on {
      background-color: $main-color;
    }
  }
}

@keyframes scrollAni {
  0% {
    top: 12px;
  }
  100% {
    top: 6px;
  }
}
